<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar class="top">
      <ion-title color="plot-white" slot="start" size="large" expand="full">Plotavenue</ion-title>
      <ion-buttons slot="end">
        <ion-button color="plot-white" (click)="login()">Login</ion-button>
<!--        <ion-button color="plot-white" (click)="register()">Register</ion-button>-->
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  <!--  <ion-img src="/assets/concert.jpg"></ion-img>-->
  <div class="card-content">
    <div class="card-title">Welcome to Plotavenue's Hangout Manager</div>
    <div class="card-subtitle">Connect with your customers through the world's fastest growing social-leisure ecosystem.</div>
    <!--    <div class="card-subtitle">A social media platform for hangouts.</div>-->
  </div>
</ion-content>

