<ion-header>
  <ion-toolbar color="plot-lite">
    <ion-title>Editing Hangout Info</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" size="small" color="light" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="type && type === 'hangout'">
  <form [formGroup]="formData" (ngSubmit)="submit()">
    <div class="plotCard">
      <!--      <ion-list-header class="clist" no-lines>-->
      <!--        Hangout Details-->
      <!--      </ion-list-header>-->
      <ion-item [ngClass]="{'error-border':!formData.controls.name.valid && formData.controls.name.touched}">
        <ion-label class="labels" position="stacked">Hangout Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <span *ngIf="formData.controls.name.hasError('required') && formData.controls.name.touched"
            style="color:red;font-size: 12px" padding-left>
      Sorry, field name is required!
    </span>

      <ion-item
              [ngClass]="{'error-border':!formData.controls.street_address.valid && formData.controls.street_address.touched}">
        <ion-label class="labels" position="stacked">Street Address</ion-label>
        <ion-input formControlName="street_address"></ion-input>
      </ion-item>
      <span *ngIf="formData.controls.street_address.hasError('required') && formData.controls.street_address.touched"
            style="color:red;font-size: 12px" padding-left>
      Sorry, street or road name is required!
    </span>

    <ion-item>
        <ion-label>
            Category:
        </ion-label>
        <ion-select [value]="catName" (ionChange)="catName = $event.target.value">
            <ion-select-option value="Bar">Bar</ion-select-option>
            <ion-select-option value="Bar & Restaurant">Bar & Restaurant</ion-select-option>
            <ion-select-option value="Beach">Beach</ion-select-option>
            <ion-select-option value="Beach & Bar">Beach & Bar</ion-select-option>
            <ion-select-option value="Beach & Bar & Restaurant">Beach & Bar & Restaurant</ion-select-option>
            <ion-select-option value="Beach & Restaurant">Beach & Restaurant</ion-select-option>
            <ion-select-option value="Club">Club</ion-select-option>
            <ion-select-option value="Hotel">Hotel</ion-select-option>
            <ion-select-option value="Hotel & Bar">Hotel & Bar</ion-select-option>
            <ion-select-option value="Hotel & Bar & Restaurant">Hotel & Bar & Restaurant</ion-select-option>
            <ion-select-option value="Hotel & Restaurant">Hotel & Restaurant</ion-select-option>
            <ion-select-option value="Restaurant">Restaurant</ion-select-option>
            <ion-select-option value="Sports">Sports</ion-select-option>
            <ion-select-option value="Sports & Bar">Sports & Bar</ion-select-option>
            <ion-select-option value="Sports & Bar & Restaurant">Sports & Bar & Restaurant</ion-select-option>
            <ion-select-option value="Sports & Restaurant">Sports & Restaurant</ion-select-option>
            <ion-select-option value="None">None</ion-select-option>
        </ion-select>
    </ion-item>

      <!--        <ion-item [ngClass]="{'error-border':!formData.controls.gps_cords.valid && formData.controls.gps_cords.touched}">-->
      <!--            <ion-label class="labels" position="stacked">GPS Coordinates</ion-label>-->
      <!--            <ion-input type="number" formControlName="gps_cords"></ion-input>-->
      <!--        </ion-item>-->
      <!--        <span *ngIf="formData.controls.gps_cords.hasError('required') && formData.controls.gps_cords.touched" style="color:red;font-size: 12px" padding-left>-->
      <!--      Sorry, street or road name is required!-->
      <!--    </span>-->

      <ion-item [ngClass]="{'error-border':!formData.controls.town.valid && formData.controls.town.touched}">
        <ion-label class="labels" position="stacked">Town</ion-label>
        <ion-input type="text" formControlName="town"></ion-input>
      </ion-item>
      <span *ngIf="formData.controls.town.hasError('required') && formData.controls.town.touched"
            style="color:red;font-size: 12px" padding-left>
      Sorry, hangout town is required!
    </span>

      <ion-item
              [ngClass]="{'error-border':!formData.controls.city_name.valid && formData.controls.city_name.touched}">
        <ion-label class="labels" position="stacked">City</ion-label>
        <ion-input formControlName="city_name" type="text" (keyup)=filter() [(ngModel)]=query></ion-input>
      </ion-item>

      <input type="hidden" formControlName="city_id" [ngModel]="cityId">

      <div *ngIf="filteredList.length > 0">
        <ion-list *ngFor="let city of filteredList">
          <ion-item class="drop-down" (click)="select(city)">
            {{city.name}}
          </ion-item>
        </ion-list>
      </div>
      <span *ngIf="formData.controls.city_name.hasError('required') && formData.controls.city_name.touched"
            style="color:red;font-size: 12px" padding-left>
      Sorry, your hangout city is required!
    </span>

      <ion-item
              [ngClass]="{'error-border':!formData.controls.currency_code.valid && formData.controls.currency_code.touched}">
        <ion-label class="labels" position="stacked">Currency Code</ion-label>
        <ion-input formControlName="currency_code" type="text" (keyup)=filterCur()
                   [(ngModel)]=queryCur></ion-input>
      </ion-item>

      <div *ngIf="curfilteredList.length > 0">
        <ion-list *ngFor="let cur of curfilteredList">
          <ion-item class="drop-down" (click)="selectCur(cur)">
            {{cur.cur_code}}
          </ion-item>
        </ion-list>
      </div>
      <span *ngIf="formData.controls.city_name.hasError('required') && formData.controls.city_name.touched"
            style="color:red;font-size: 12px" padding-left>
      Sorry, your hangout city is required!
    </span>

    </div>

    <ion-button color="dark" expand="block" class="submit" type="submit" [disabled]="!formData.valid">Update
    </ion-button>
  </form>
</ion-content>
<ion-content *ngIf="type && type === 'message'">
  <form (ngSubmit)="submitMessage()">

    <ion-item
            [ngClass]="{'error-border':!messageBoard.valid && messageBoard.touched}">
      <ion-label class="labels" position="stacked">Message</ion-label>
      <ion-textarea rows="6" [formControl]="messageBoard"></ion-textarea>
    </ion-item>
    <span *ngIf="messageBoard.hasError('required') && messageBoard.touched"
          style="color:red;font-size: 12px" padding-left>
      Sorry, message has to be more than 2 and less than 300 characters!
    </span>

    <ion-button color="dark" expand="block" class="submit" type="submit" [disabled]="!messageBoard.valid">Update
    </ion-button>
  </form>
</ion-content>

<ion-content *ngIf="type && type === 'drink&entry'">
    <form [formGroup]="basePrice" (ngSubmit)="submitBase()">

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-select [value]="itemName" (ionChange)="itemName = $event.target.value">
                        <ion-select-option value="Beer Price">Beer Price</ion-select-option>
                        <ion-select-option value="Food Price">Food Price</ion-select-option>
                        <ion-select-option value="Drink Price">Drink Price</ion-select-option>
                        <ion-select-option value="Snack Price">Snacks Price</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col [ngClass]="{'error-border':!basePrice.controls.item_price.valid && basePrice.touched}">
                <ion-input type="number" min="0" formControlName="item_price"></ion-input>
            </ion-col>
        </ion-row>
        <span *ngIf="basePrice.controls.item_price.hasError('required') && basePrice.controls.item_price.touched"
              style="color:red;font-size: 12px" padding-left>
      Required!
    </span>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-select [value]="entryName" (ionChange)="entryName = $event.target.value">
                        <ion-select-option value="Entry Price">Entry Price</ion-select-option>
                        <ion-select-option value="RSVP">RSVP</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col [ngClass]="{'error-border':!basePrice.controls.entry_price.valid && basePrice.touched}">
                <ion-input type="number" min="0" formControlName="entry_price"></ion-input>
            </ion-col>
        </ion-row>
        <span *ngIf="basePrice.controls.entry_price.hasError('required') && basePrice.controls.entry_price.touched"
              style="color:red;font-size: 12px" padding-left>
      Required!
    </span>

        <ion-button color="dark" expand="block" class="submit" type="submit" [disabled]="!basePrice.valid">Update
        </ion-button>
    </form>
</ion-content>
