<ion-header>
    <ion-toolbar color="plot-lite">
        <ion-title>Order Detail</ion-title>
        <ion-buttons slot="end">
            <ion-button fill="outline" size="small" color="light" (click)="dismissModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="order">

    <!--

    Restaurant and bar Section

    -->
    <ion-card class="order-detail" *ngIf="section === 'bar' || section === 'restaurant'">
        <div class="order-info">
            <p>
                By: {{order.orderBy.username}}
            </p>
            <p>
                For: {{order.orderFor.username}}
            </p>
            <p *ngIf="order.paymentMethod === ''">
                Time: {{order.orderTime | date: 'hh:mm a'}}
            </p>
            <p *ngIf="order.paymentMethod === 'cash'">
                Payment: {{order.paymentMethod.toUpperCase()+' - Pending your confirmation'}}
            </p>
        </div>
        <ion-list>
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-label>
                                Qty
                            </ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-label>
                                Name
                            </ion-label>
                        </ion-col>
                        <ion-col *ngIf="section === 'bar'">
                            <ion-label>
                                Preference
                            </ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item *ngFor="let item of order.order">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-label>
                                {{item['qty']}}
                            </ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-label>
                                {{section === 'bar' ? item['drinkName'] : item['mealName']}}
                            </ion-label>
                        </ion-col>
                        <ion-col *ngIf="section === 'bar'">
                            <ion-label>
                                {{item['option']}}
                            </ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-fab *ngIf="order && order.tableNumber" vertical="top" horizontal="center" edge slot="fixed">
        <ion-fab-button color="plot-lite" class="cls-fab">
            <h1>{{order.tableNumber}}</h1>
        </ion-fab-button>
    </ion-fab>

    <!--

    TakeAway Section

    -->
    <ion-card class="order-detail" *ngIf="section === 'takeaway'">
        <div class="order-info">
            <p>
                By: {{order.orderBy.username}}, {{order.orderBy.phone}}
            </p>
            <p>
                Time: {{order.orderTime | date: 'hh:mm a'}}
            </p>
            <p>
                Payment: {{order.paymentMethod.toUpperCase()}}
            </p>
        </div>
        <ion-list>
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-label>
                                Qty
                            </ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-label>
                                Name
                            </ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item *ngFor="let item of order.order">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-label>
                                {{item['qty']}}
                            </ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-label>
                                {{item['name']}}
                            </ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
<ion-footer *ngIf="order">
    <ion-toolbar *ngIf="section === 'bar' || section === 'restaurant'">
        <ion-buttons *ngIf="tab !== 'receipts'" slot="start">
            <ion-button *ngIf="!order.canceled" fill="outline" size="small" color="plot-lite" (click)="cancelOrder()">
                Cancel Order
            </ion-button>
            <ion-button *ngIf="order.canceled" fill="outline" size="small" color="plot-lite" (click)="removeOrder()">
                Remove from view
            </ion-button>
        </ion-buttons>
        <ion-buttons *ngIf="tab === 'orders'" slot="end">
            <ion-button *ngIf="!order.canceled" fill="outline" size="small" color="plot-lite"
                        (click)="sendToDelivered()">
                Deliver
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons *ngIf="tab === 'delivered'" slot="end">
            <ion-button fill="outline" size="small" color="plot-lite"
                        (click)="settlement('cash')">
                Cash Rept
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons *ngIf="tab === 'delivered'" slot="end">
            <ion-button fill="outline" size="small" color="danger"
                        (click)="settlement('none')">
                Unpaid
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="section === 'takeaway'">
        <ion-buttons *ngIf="tab !== 'delivered'" slot="start">
            <ion-button *ngIf="!order.canceled" fill="outline" size="small" color="plot-lite" (click)="cancelOrder()">
                Cancel Order
            </ion-button>
            <ion-button *ngIf="order.canceled" fill="outline" size="small" color="plot-lite" (click)="removeOrder()">
                Remove from view
            </ion-button>
        </ion-buttons>
        <ion-buttons *ngIf="tab === 'orders'" slot="end">
            <ion-button *ngIf="!order.canceled" fill="outline" size="small" color="plot-lite"
                        (click)="sendToEnroute()">
                En Route
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons *ngIf="tab === 'enroute'" slot="end">
            <ion-button *ngIf="!order.canceled" fill="outline" size="small" color="plot-lite"
                        (click)="sendToDelivered()">
                Delivered
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
